form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #ffcc00;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.header_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    color: gray;
    padding-left: 20px;
}