form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #ffcc00;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.header_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_header {
    display: flex;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table_header {
    margin-top: 20px;
}